# Data Science Tools and Logistic

The development towards a more digital future

In this notebook, Data Science Tools and Logistics are summarized.

**Objectives:**


*   List popular languages for Data Science
*   List commonly used libraries in Data Science
*   List development environment open source tools used in data science.
*   Use of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:



1.   R
2.   Python
3.   SQL

Some of the commonly used libraries used by Data Scientists include:



1.   NumPy
2.   Pandas
3.   Matplotlib

Data Science Tools |
-------------------|
Jupyter Notebook     |
Google Collab       |
VS Code con Python|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*5)+5

20

In [ ]:
#This will convert 200 minutes to hours by diving by 60.
print("Amount of minutes: 200")
print("Amount of hours: ", 200/60)

Amount of minutes: 200
Amount of hours:  3.3333333333333335

## Author
CÃ©sar Toro